header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #F28585;
    border: 2px solid;
    border-color: white;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 0 #FDB927;

}

li,
a{
    font-family: "Montsserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

#btnRegistro{

    background-color: #F28585;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montsserat', sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    margin-left: auto;
    
    
    font-family: "Montsserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    color: #F2C6C2;
}

#btnRegistro:hover {
    color: #F2C6C2;
    background-color: #F28585;
    font-size: 23px;
}

/*FIN DEL HEADER*/

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url("fondoInicio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#btnQuieneSomos{
    background-color: transparent;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montsserat', sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 1px solid white;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    margin-left: auto;
    
    
    font-family: "Montsserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

#btnQuieneSomos:hover {
    color: #B43052;
    border: 1px solid #B43052;
    font-size: 20px;
}


#hero h1{
    font-size: 60px;
}

#hero p{
    font-size: 25px;
}

/*FIN DEL HERO*/

/*INICIO DE SECCIONES ACERCA DE NOSOTROS*/

#QuienesSomos{
    background-color:#00b3b9;
    justify-content: center;
    display: flex;
    height: 70vh;
    color: white;
}

#QuienesSomos h1{
    font-size: 30px;
    text-align: center;
}
#QuienesSomos h2 {
    font-size: 20px;
    text-align: center;
    justify-content: center;
}
#QuienesSomos p{
    font-size: 20px;
    text-align: left;
    justify-content: center;
}
    
#QuienesSomos h3 {
    font-size: 25px;
    text-align: left;
    justify-content: center;
}

#Galeria{
    background-color:#ffffff;
    display: flex;
    height: 70vh;
    color: black;
}
#Galeria h1{
    font-size: 30px;
    text-align: center;
    justify-content: center;
}
#Galeria h2{
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

 












