header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #F28585;
    border: 2px solid;
    border-color: white;
    border-radius: 10px 0px 10px 0px;
    box-shadow: 0 #FDB927;

}

li,
a{
    font-family: "Montsserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

#btnRegistro{

    background-color: #F28585;
    border-radius: 100px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montsserat', sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all 0.3s ease 0s;
    margin-left: auto;
    
    
    font-family: "Montsserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    color: #F2C6C2;
}

#btnRegistro:hover {
    color: #F2C6C2;
    background-color: #F28585;
    font-size: 23px;
}

/*FIN DEL HEADER*/
#compras{
    background: linear-gradient(rgba(0 0 0 / .8)
        ,rgba(0 0 0 / .3))
        ,url("/Imagenes/fondoComprar.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
}
.Productos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Productos h1{
    font-size: 35px;
    color: white;
}

.Productos h2{
    font-size: 25px;
    color: #00B3B9;
}

.Productos h3{
    font-size: 23px;
    color: white;
}

.Productos a{
    font-size: 30px;
    color: #00B3B9;
    margin: 5px;
}

.Productos p{
    width: 450px;
    font-size: 19px;
    color: white;
}


.text-Productos div {
    margin-bottom: 15px; /* Espacio entre los elementos de texto */
}

.imagenProducto{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 20px;
    border-radius: 10px;
    border: 5px solid white; 
    border-radius: 5px;
    
}

.btn-Productos{
    margin-left: 20px;
}

#btnMenos{
    margin-left: 150px;
}

.btnCantidad{
    background-color: transparent;
    border: 0px solid white;
    color: white; /* Cambia el color del texto según tu preferencia */
    font-size: 23px;
    cursor: pointer;
}

.btnCantidad:hover {
    background-color: rgba(255,255,255, 0.1);
    color: #00B3B9;
}



























footer {
  padding: 30px 0;
}

.bottom-bar {
  background-color: #F28585;
  padding: 10px 0;
  text-align: center;
}
